* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --clr-background: #23252c;
  --clr-card: #f5f5f5;
  --clr-accent: #f47d27;
  --clr-dull: #4a4e74;

  --main-padding: 2em;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--clr-background);
  display: grid;
  min-height: 100vh;
  place-items: center;
}

.App {
  background-color: var(--clr-card);
  width: 320px;
  /* padding: 0 2em 2em 2em; */
  border-radius: 1ch;
}

.profile-img {
  width: 320px;
  /* transform: translateX(-2em); */
  border-radius: 1ch 1ch 0 0;
}

h1 {
  font-size: 25px;
  text-align: center;
  color: #2b283a;
  margin: 5px;
}

h2 {
  color: #2b283a;
  font-size: 16px;
  margin-bottom: 3px;
}

h3 {
  color: var(--clr-accent);
  font-weight: 400;
  font-size: 13px;
  text-align: center;
}

p {
  color: #4a4e74;
  font-size: 11px;
}

.website {
  color: var(--clr-dull);
  font-size: 11px;
  text-align: center;
  margin: 5px 0 15px 0;
}

button {
  font-size: 14px;
  padding: 0.5em 2em 0.5em 3em;
  border-radius: 6px;
  background-repeat: no-repeat;
  background-position: 20% center;
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.email-button {
  background-color: white;
  border: 1px solid #d1d5db;
  background-image: url("./images/Email-Icon.svg");
  margin-left: 2em;
}

.linkedin-button {
  background-color: #297fe5;
  color: white;
  border: 1px solid transparent;
  background-image: url("./images/LinkedIn-Icon.svg");
  margin-right: 2em;
}

.about,
.interests {
  padding: 0 2em;
  margin-bottom: 15px;
}

footer {
  background-color: #d5d4d8;
  border-radius: 0 0 1ch 1ch;
  padding: 1em 4em;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
